<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<br>
<form class="layui-form" action="" lay-filter="example">
    <div class="layui-row">
        <div class="layui-col-md10">
            <div class="layui-inline">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                    <input type="text" name="nickname" id="snickname" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="tel" id="stel" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="layui-inline">
                    <button type="button" onclick="doSearch();" class="layui-btn">Search</button>
                    <button type="reset" class="layui-btn">Reset</button>
            </div>
        </div>
    </div>
</form>

<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
        <button class="layui-btn layui-btn-sm" lay-event="createUser">新增</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->

<script>
    var table, $;
    layui.use('table', function(){
        table = layui.table;
        $ = layui.jquery;

        //温馨提示：默认由前端自动合计当前行数据。从 layui 2.5.6 开始： 若接口直接返回了合计行数据，则优先读取接口合计行数据。
        //详见：https://www.layui.com/doc/modules/table.html#totalRow
        table.render({
            elem: '#test'
            ,url:'/user/listJson'
            ,toolbar: '#toolbarDemo'
            ,title: '用户数据表'
            ,totalRow: true
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'userId', title:'ID', width:170, fixed: 'left', sort: true}
                    ,{field:'password', title:'密码', width:150}
                    ,{field:'nickname', title:'昵称', width:150}
                    ,{field:'tel', title:'电话', width:170, sort: 'true'}
                    ,{field:'sex', title:'性别', width:150, sort: 'true', templet:'<div>{{d.sex == 0?"男":"女"}}</div>'}
                    ,{field:'identity', title:'身份', width:150, sort: 'true', templet:function(d) {
                        if(d.identity == 0) return '管理员';
                        else if(d.identity == 1) return '用户';
                        else if(d.identity == 2) return '骑手';
                        else if(d.identity == 3) return '店主';
                        else return "";
                    }}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:200}
                ]
            ]
            ,page: true
            ,id:'userTable'
        });

        //工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选')
                    break;
                case 'createUser':
                    // layer.msg('新增用户')
                    parent.layer.open({
                        type: 2,
                        title: '新增用户',
                        area: ['1000px', '600px'],
                        content: '/user/add',
                        btn: '关闭',
                        btnAlign: 'c',
                        yes: function(){
                            parent.layer.closeAll()
                        }
                    })
                    break;
            };
        });

        //行双击展示详情
        table.on('rowDouble(test)', function(obj) {
            // 展示user详情
            parent.layer.open({
                type: 2,
                title: '用户详情',
                area: ['1000px', '600px'],
                content: '/user/detail?userId=' + obj.data.userId,
                btn: '关闭',
                btnAlign: 'c',
                yes: function(){
                    parent.layer.closeAll()
                }
            })
        });

        //工具条事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var userId = obj.data.userId; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if(layEvent === 'del'){ //删除
                layer.confirm('真的删除吗', function(index){
                    $.ajax({
                        type: "get",
                        url: "/user/delete?userId="+userId,
                        dataType: "JSON",
                        success: function(responseData) {
                            if(responseData.code == 200) {
                                layer.alert(responseData.message, {yes: function() {
                                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                    layer.closeAll();
                                }});
                            }else {
                                layer.alert("删除用户失败");
                            }
                        }
                    })
                });
            } else if(layEvent === 'edit'){ //编辑
                //do something
                parent.layer.open({
                    type: 2,
                    title: '修改用户信息',
                    area: ['1000px', '600px'],
                    content: '/user/edit?userId='+userId,
                    btn: '关闭',
                    btnAlign: 'c',
                    yes: function(){
                        parent.layer.closeAll()
                    }
                })
                //同步更新缓存对应的值
                // obj.update({
                //     username: '123'
                //     ,title: 'xxx'
                // });
            }
        });


    });
    function doSearch() {
        var nickname = $('#snickname').val();
        var tel = $('#stel').val();
        console.log('nickname is:',nickname)
        console.log('tel is:', tel);
        table.reload('userTable', {
            where: {
                nickname: nickname,
                tel: tel
            }
            ,page: {
                curr: 1
            }
        });
    }

</script>

</body>
</html>