<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>餐品管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->

    <style type="text/css">
        .layui-table-cell {
            text-align:center;
            height: 80px;
            white-space: normal;
        }
    </style>

</head>
<body>

<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->

<script>
    layui.use(['table', 'form'], function(){
        var table = layui.table,
            $ = layui.jquery,
            form = layui.form;

        //温馨提示：默认由前端自动合计当前行数据。从 layui 2.5.6 开始： 若接口直接返回了合计行数据，则优先读取接口合计行数据。
        //详见：https://www.layui.com/doc/modules/table.html#totalRow
        table.render({
            elem: '#test'
            ,url:'/product/listJsonAllStore'
            ,toolbar: '#toolbarDemo'
            ,title: '餐品数据表'
            ,totalRow: true
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'productId', title:'餐品ID', width:90, fixed: 'left', sort: true}
                    ,{field:'storeId', title:'店铺ID', width:90,sort: true}
                    ,{field:'storeName', title:'店铺名', width:90}
                    ,{field:'productName', title:'餐品名称', width:90}
                    ,{field:'productPicture', title:'餐品图片', width:90, templet:'<div><img src="{{d.productPicture}}"></div>'}
                    ,{field:'sell', title:'是否允许售卖', width:90, templet: function (d) {
                        if(d.sell == 0) {
                            return "<input type='checkbox' name='sell' productId='"+d.productId+"' lay-skin='switch' lay-text='是|否' lay-filter='sellSwitch'>";
                        }else {
                            return "<input type='checkbox' name='sell' productId='"+d.productId+"' lay-skin='switch' lay-text='是|否' lay-filter='sellSwitch' checked>";
                        }
                    }}
                    ,{field:'productInfo', title:'餐品介绍', width:90}
                    ,{field:'tag', title:'标签', width:90}
                    ,{field:'sellNum', title:'售卖数量', width:105, sort: 'true'}
                    ,{field:'price', title:'价格', width:90, sort: 'true'}
                    ,{field:'calorie', title:'卡路里', width:90, sort: 'true'}
                    ,{field:'carbs', title:'碳水化合物', width:100}
                    ,{field:'fat', title:'脂肪', width:90, sort: 'true'}
                    ,{field:'protein', title:'蛋白质', width:90, sort: 'true'}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                ]
            ]
            ,page: true
            ,limit: 4
            ,limits: [4,5,6,7]
        });

        //工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选')
                    break;
                case 'createProduct':
                    // layer.msg('新增用户')
                    parent.layer.open({
                        type: 2,
                        title: '新增餐品',
                        area: ['1000px', '600px'],
                        content: '/user/add',
                        btn: '关闭',
                        btnAlign: 'c',
                        yes: function(){
                            parent.layer.closeAll()
                        }
                    })
                    break;
            };
        });

        //行双击展示详情
        table.on('rowDouble(test)', function(obj) {
            // 展示user详情
            parent.layer.open({
                type: 2,
                title: '餐品详情',
                area: ['1000px', '600px'],
                content: '/product/detail?productId=' + obj.data.productId,
                btn: '关闭',
                btnAlign: 'c',
                yes: function(){
                    parent.layer.closeAll()
                }
            })
        });

        //工具条事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var productId = obj.data.productId; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if(layEvent === 'del'){ //删除
                layer.confirm('真的删除吗', function(index){
                    $.ajax({
                        type: "get",
                        url: "/product/delete?productId="+productId,
                        dataType: "JSON",
                        success: function(responseData) {
                            if(responseData.code == 200) {
                                layer.alert(responseData.message, {yes: function() {
                                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                        layer.closeAll();
                                    }});
                            }else {
                                layer.alert("删除餐品失败");
                            }
                        }
                    })
                });
            } else if(layEvent === 'edit'){ //编辑
                //do something
                parent.layer.open({
                    type: 2,
                    title: '修改餐品信息',
                    area: ['1000px', '600px'],
                    content: '/product/edit?productId='+productId,
                    btn: '关闭',
                    btnAlign: 'c',
                    yes: function(){
                        parent.layer.closeAll()
                    }
                })
                //同步更新缓存对应的值
                // obj.update({
                //     username: '123'
                //     ,title: 'xxx'
                // });
            }
        });

        //监听餐品是否上架开关
        form.on('switch(sellSwitch)', function (data) {
            var checked = data.elem.checked;
            var sell;
            var productId = data.elem.attributes['productId'].nodeValue;
            if(checked == true) sell = 1;
            else sell = 0;
            console.log(productId)
            console.log(sell);

            $.ajax({
                type: "post",
                url: "/product/statusChange",
                data: JSON.stringify({productId: productId, sell: sell}),
                contentType : "application/json",
                dataType: "JSON",
                success: function(responseData) {
                    console.log(responseData)
                    if(responseData.code == 200) {
                        layer.msg(responseData.message);
                        //    插入数据失败
                    }else {
                        layer.msg("更新信息失败");
                        // data.elem.checked = !checked;
                    }
                }
            });
            form.render();
        })
    });
</script>

</body>
</html>